<div id="mapmain">
  <div id="nameSpace">Buildings damaged by unrest in St. Paul</div>
  <div class="chatter">Explore the map with zoom buttons, drag to pan.</div>
  <div id="map">
      <!-- <div class="directional">Click and drag to pan</div> -->
  </div>
  <div id="map-popover"></div>
</div>
<div id="map-legend">
  <div id="legend-items">
  <div class="candidate"><span class="label-business"></span>Property damage</div>
  <div class="candidate"><span class="label-fire"></span>Fire damage</div>
  <div class="candidate"><span class="label-destroyed"></span>Destroyed</div>
  <div class="candidate"></div>
</div>
</div>
<div id="map-legend2">
  <div id="legend-items">
  <div class="candidate"><span class="label-damage"></span>Damaged property</div>
  </div>
</div>
<div class="byline">
    <div>Map: Salma Loum, Jeff Hargarten, Star Tribune</div>
</div>

<!--  • Source: reporting -->